<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-only tabs-dark">

  <!-- Feed Tab -->
  <ion-tab icon-off="ion-ios-albums" icon-on="ion-ios-albums" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-location" icon-on="ion-location" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-android-camera" icon-on="ion-android-camera" href="#/tab/camera-test">
    <ion-nav-view name="tab-camera-test"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab icon-off="ion-ios-heart" icon-on="ion-ios-heart" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
