ion-view(view-title="Dashboard")
  ion-content.padding
    ion-refresher(pulling-text="watwat", on-refresh="refresh_location()")

    .list.card
      .item.item-divider
        | GPS Info PLS
      .item.item-body
        div
          pre
            | {{ position }}

    .list.card
      .item.item-divider
        | GPS Info PLS
      .item.item-body
        div
          map(center="{{ center }}" zoom="15")
            marker(position="{{ center }}")
